.customButton {
    display: flex;
    
    align-items: center;
    justify-content: center;
    background-color: transparent;
    color: black;
    border: .3px solid #70D560;
    border-radius: 25px;
    padding: 10px 15px;
      /* padding: 10px 50px; */

    margin: 10px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    font-family: "Poppins", sans-serif;

  }
  /* 70D560 */
  .customButton:hover {
    background-color: #17412D;
    color: white;
  }
  
  .customButton:disabled,
  .disabledButton {
    background-color: #ccc;
    cursor: not-allowed;
  }
  
  .buttonIcon {
    margin-right: 5px;
    font-size: 18px;
  }
  
  .buttonText {
    font-size: 16px;
  }
  
  /* 
   */
   .buttonContainer {
    display: flex;
    align-items: center; /* Align items vertically */
    gap: 10px; /* Space between buttons */
  }
   .dropdown2 {
    position: relative; /* Position relative for absolute positioning of dropdown */
  }
  
 
.dropdownMenu {
  position: absolute; /* Position the dropdown menu */
  background-color: white; /* Background color for dropdown */
  border: 1px solid #ccc; /* Border for dropdown */
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Shadow for dropdown */
  z-index: 1000;
  margin-right: 200px; /* Ensure dropdown is above other elements */
  margin-top: 200px; /* Space between button and dropdown */
  width: 200px; /* Set width for dropdown */
}
  
  .dropdownMenu div {
    padding: 10px; /* Padding for dropdown items */
    cursor: pointer; /* Pointer cursor on hover */
  }
  
  .dropdownMenu div:hover {
    background-color: #f0f0f0; /* Highlight on hover */
  }
  /* Optional: Adjust the calendar button position */
.dropdown2 Button {
  margin-left: 20px; /* Adjust this value to change the position */
}