@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.InsightsOversection{
    padding: 10px 50px;

  }
 
  .InsightsOversecHead {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: #17412D;
    line-height: 1.2;
    margin-bottom: 10px;
  }
  
  .InsightsOversecSubhead {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #333;
    line-height: 1.3;
  }
  .RefreshPages{
    padding:10px 20px;
    font-family: "Poppins",sans-serif;
    font-weight: 300;
    font-size: 14px;
    border-radius: 50px;
    border: 1px solid #17412D;
    background-color: transparent;
    cursor: pointer;
  }
  .RefreshPages:hover{
    transition: all .3s ease;
    border: 1px solid #333;

  }