/* * {

  font-family: 'Poppins',sans-serif;
} */

/* settingsPage.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.Invoicesection{
    padding: 10px 50px;
    
    
  }

  
.Backsettings {
  display: flex;
  align-items: center;
  color: #5a5a5a;
  text-decoration: none;
  margin-bottom: 20px;
  font-size: 14px;
}

.EPicon {
  margin-right: 8px;
  font-size: 16px;
}

  .InvoicesecHead {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    color: #17412D;
    line-height: 1.2;
    margin-bottom: 10px;

  }
  
  .InvoicesecSubhead {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #333;
    line-height: 1.3;
  }