@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

.whyContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;  /* Centers vertically */
  align-items: center;      /* Centers horizontally */
  text-align: center;
  height: 100vh; /* Full viewport height */
  padding: 20px;
  position: relative;
  background-color: #FFFFFF;
}

.whyContainer h2 {
    font-size: 48px;
    font-weight: bold;
    font-family: 'Poppins', sans-serif; /* Apply Poppins as the default font */

}

.whyContainer .brand {
    font-family: 'Silkscreen', cursive;
    color: #70D560;
    font-weight: bold;
    font-size: 64px;
}
.whyContainer p{
  font-size: 20px;
  width: 50%;
  font-family: 'Poppins',sans-serif;
  font-weight: 200;
}
.whyContainer .brandSub {
    color: #70D560;
    font-family: 'Poppins', sans-serif; /* Apply Poppins as the default font */

}
.whyContainer .brandSub2{
  color: black;
  font-size: 64px;
  font-family: 'Silkscreen', cursive;

}


.icon {
    font-size: 24px;
}

.highlight {
    font-weight: bold;
    color: black;
}
/* Pushes the keywords section to the bottom */
.keywords {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centers horizontally */
  gap: 12px;
  position: absolute;
  bottom: 20px; /* Distance from the bottom */
  left: 50%;
  transform: translateX(-50%); /* Centers it horizontally */
  width: 90%; /* Adjust width to fit */
  padding: 10px;
    overflow: visible; /* ensures all elements can animate */

}

.keyword {
  padding: 8px 30px;
  border-radius: 5px;
  font-size: 1.2rem;

  background: transparent;
  cursor: pointer;
  background: rgba(255, 255, 255, 0.5); /* Semi-transparent background */
  backdrop-filter: blur(30px); /* Adjust the blur amount as needed */
  border-radius: 50px;
  
}

.yellow {
    background-color: yellow;
    
}
.red {
  background-color: rgb(236, 2, 2);
  color: white;

}
.black {
  background-color: rgb(0, 0, 0);
  color: white;

}
.purple {
    background-color: #d560d5;
    color: white;
}

.green {
    background-color: #70D560;
    color: white;
}

.blue {
    background-color: blue;
    color: white;
}

.pink {
    background-color: #d560d5;
    color: white;
}

.white {
    background-color: white;
    border: 2px solid black;
}
@media (max-width: 768px) {
  .whyContainer {
      display: flex;
  flex-direction: column;
  justify-content: center;  /* Centers vertically */
  align-items: center;      /* Centers horizontally */
  text-align: center;
  height: 100vh; /* Full viewport height */
  padding: 20px;
  position: relative;
  background-color: #FFFFFF;
  }
  .whyContainer h2 {
    font-size: 30px; /* Smaller font size for smaller screens */
  }
  .whyContainer p {
    font-size: 16px; /* Smaller font size for smaller screens */
    width: 90%; /* Adjust width for smaller screens */
  }
  .whyContainer .brand {
    font-size: 48px; /* Smaller font size for smaller screens */
  }
  .whyContainer .brandSub2 {
    font-size: 48px; /* Smaller font size for smaller screens */
  }
  .keywords {
    flex-direction: column; /* Stack keywords vertically */
    align-items: center; /* Center them horizontally */
    bottom: 10px; /* Adjust bottom position for smaller screens */
    width: 100%; /* Full width on smaller screens */
  }
  .keyword {
    width: auto; /* Make keywords wider on smaller screens */
    margin-bottom: 10px; /* Add some space between keywords */
  }
  /* integration */

.keyword:nth-child(1) {
  --original-transform: rotate(-10deg) translateX(-40px) translateY(-10px);
}
/* simplicity */

.keyword:nth-child(2) {
    display: none; /* Hide the last keyword on smaller screens */

  /* transform: rotate(4deg) translateY(70px) translateX(-190px); */
}
/* security */

.keyword:nth-child(3) {
    display: none; /* Hide the last keyword on smaller screens */

  /* transform: rotate(-50deg) translateX(-160px) translateY(-150px); */
}
/* insights */
.keyword:nth-child(4) {
    display: none; /* Hide the last keyword on smaller screens */

  /* transform: rotate(-10deg) translateX(-145px); */
}
/* Compliance */
.keyword:nth-child(5) {
    display: none; /* Hide the last keyword on smaller screens */

  /* transform: rotate(-10deg) translateX(-278px) translateY(17px); */
}
/* visibility */
.keyword:nth-child(6) {
    display: none; /* Hide the last keyword on smaller screens */

  /* transform: rotate(-15deg) translateX(-300px) translateY(-110px); */
}
/* Optimization */
.keyword:nth-child(7) {
    display: none; /* Hide the last keyword on smaller screens */

  /* transform: rotate(-14deg) translateX(-430px) translateY(-100px); */
}
/* Scalability */
.keyword:nth-child(8) {
    display: none; /* Hide the last keyword on smaller screens */

  /* transform: rotate(-46deg) translateX(-177px) translateY(-140px); */
}
/* reliabiliyt */
.keyword:nth-child(9) {
    display: none; /* Hide the last keyword on smaller screens */

  /* transform: rotate(4deg) translateX(165px); */
}
/* automtion */
.keyword:nth-child(10) {
    display: none; /* Hide the last keyword on smaller screens */

  /* transform: rotate(-14deg) translateX(80px) translateY(-45px); */
}
/* Replenishment */
.keyword:nth-child(11) {
    display: none; /* Hide the last keyword on smaller screens */

  /* transform: rotate(30deg) translateX(270px) translateY(-180px); */
}
/* efficiency */
.keyword:nth-child(12) {
    display: none; /* Hide the last keyword on smaller screens */

  /* transform: rotate(0deg) translateX(12px); */
}
/* Accuracy */
.keyword:nth-child(13) {
  /* transform: rotate(30deg) translateX(-22px) translateY(-50px); */
    display: none; /* Hide the last keyword on smaller screens */

}
/* Forecasting */
.keyword:nth-child(14) {
  /* transform: rotate(-76deg) translateX(27px) translateY(-70px); */
    display: none; /* Hide the last keyword on smaller screens */

}
/*  Stock Control*/
.keyword:nth-child(15) {
  /* transform: rotate(-26deg) translateX(-47px) translateY(-60px); */
    display: none; /* Hide the last keyword on smaller screens */

}
/*  Real-time Tracking*/
.keyword:nth-child(16) {
    display: none; /* Hide the last keyword on smaller screens */

  /* transform: rotate(0deg) translateX(697px) translateY(-60px); */
}
/*Supply Chain*/
.keyword:nth-child(17) {
  display: none; /* Hide the last keyword on smaller screens */
  /* transform: rotate(20deg) translateX(457px) translateY(-290px); */
}

}
/* integration */

.keyword:nth-child(1) {
  --original-transform: rotate(-10deg) translateX(-40px) translateY(-10px);
}
/* simplicity */

.keyword:nth-child(2) {
  transform: rotate(4deg) translateY(70px) translateX(-190px);
}
/* security */

.keyword:nth-child(3) {
  transform: rotate(-50deg) translateX(-160px) translateY(-150px);
}
/* insights */
.keyword:nth-child(4) {
  transform: rotate(-10deg) translateX(-145px);
}
/* Compliance */
.keyword:nth-child(5) {
  transform: rotate(-10deg) translateX(-278px) translateY(17px);
}
/* visibility */
.keyword:nth-child(6) {
  transform: rotate(-15deg) translateX(-300px) translateY(-110px);
}
/* Optimization */
.keyword:nth-child(7) {
  transform: rotate(-14deg) translateX(-430px) translateY(-100px);
}
/* Scalability */
.keyword:nth-child(8) {
  transform: rotate(-46deg) translateX(-177px) translateY(-140px);
}
/* reliabiliyt */
.keyword:nth-child(9) {
  transform: rotate(4deg) translateX(165px);
}
/* automtion */
.keyword:nth-child(10) {
  transform: rotate(-14deg) translateX(80px) translateY(-45px);
}
/* Replenishment */
.keyword:nth-child(11) {
  transform: rotate(30deg) translateX(270px) translateY(-180px);
}
/* efficiency */
.keyword:nth-child(12) {
  transform: rotate(0deg) translateX(12px);
}
/* Accuracy */
.keyword:nth-child(13) {
  transform: rotate(30deg) translateX(-22px) translateY(-50px);
}
/* Forecasting */
.keyword:nth-child(14) {
  transform: rotate(-76deg) translateX(27px) translateY(-70px);
}
/*  Stock Control*/
.keyword:nth-child(15) {
  transform: rotate(-26deg) translateX(-47px) translateY(-60px);
}
/*  Real-time Tracking*/
.keyword:nth-child(16) {
  transform: rotate(0deg) translateX(697px) translateY(-60px);
}
/*Supply Chain*/
.keyword:nth-child(17) {
  transform: rotate(20deg) translateX(457px) translateY(-290px);
}


/* Custom animation for falling from 100px integraion */
/* Each keyword has a custom initial and final transform */
[data-aos="fade-down"].keyword-fall-1 {
  transform: translateY(-1000px);
  opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}
[data-aos="fade-down"].aos-animate.keyword-fall-1 {
  transform: rotate(-10deg) translateX(-40px) translateY(-10px) !important;
  opacity: 1 !important;
}

[data-aos="fade-down"].keyword-fall-2 {
  transform: translateY(-1000px);
  opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}
[data-aos="fade-down"].aos-animate.keyword-fall-2 {
  transform: rotate(4deg) translateY(70px) translateX(-190px) !important;
  opacity: 1 !important;
}

[data-aos="fade-down"].keyword-fall-3 {
  transform: translateY(-1000px);
  opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}
[data-aos="fade-down"].aos-animate.keyword-fall-3 {
  transform: rotate(-50deg) translateX(-160px) translateY(-150px) !important;
  opacity: 1 !important;
}

[data-aos="fade-down"].keyword-fall-4 {
  transform: translateY(-1000px);
  opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}
[data-aos="fade-down"].aos-animate.keyword-fall-4 {
  transform: rotate(-10deg) translateX(-145px) !important;
  opacity: 1 !important;
}

/* And so on for all 17 keywords... */

[data-aos="fade-down"].keyword-fall-5 {
  transform: translateY(-1000px); opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}
[data-aos="fade-down"].aos-animate.keyword-fall-5 {
  transform: rotate(-10deg) translateX(-278px) translateY(17px) !important;
  opacity: 1 !important;
}

[data-aos="fade-down"].keyword-fall-6 {
  transform: translateY(-1000px); opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}
[data-aos="fade-down"].aos-animate.keyword-fall-6 {
  transform: rotate(-15deg) translateX(-300px) translateY(-110px) !important;
  opacity: 1 !important;
}

[data-aos="fade-down"].keyword-fall-7 {
  transform: translateY(-1000px); opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}
[data-aos="fade-down"].aos-animate.keyword-fall-7 {
  transform: rotate(-14deg) translateX(-430px) translateY(-100px) !important;
  opacity: 1 !important;
}

[data-aos="fade-down"].keyword-fall-8 {
  transform: translateY(-1000px); opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}
[data-aos="fade-down"].aos-animate.keyword-fall-8 {
  transform: rotate(-46deg) translateX(-177px) translateY(-140px) !important;
  opacity: 1 !important;
}
[data-aos="fade-down"].keyword-fall-9 {
  transform: translateY(-1000px); opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}
[data-aos="fade-down"].aos-animate.keyword-fall-9 {
  transform: rotate(4deg) translateX(165px) !important;
  opacity: 1 !important;
}
[data-aos="fade-down"].keyword-fall-10 {
  transform: translateY(-1000px); opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}
[data-aos="fade-down"].aos-animate.keyword-fall-10 {
  transform: rotate(-14deg) translateX(80px) translateY(-45px) !important;
  opacity: 1 !important;
}
[data-aos="fade-down"].keyword-fall-11 {
  transform: translateY(-1000px); opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}
[data-aos="fade-down"].aos-animate.keyword-fall-11 {
  transform: rotate(30deg) translateX(270px) translateY(-180px) !important;
  opacity: 1 !important;
}
[data-aos="fade-down"].keyword-fall-12 {
  transform: translateY(-1000px); opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}
[data-aos="fade-down"].aos-animate.keyword-fall-12 {
  transform: rotate(0deg) translateX(12px) !important;
  opacity: 1 !important;
}
[data-aos="fade-down"].keyword-fall-13 {
  transform: translateY(-1000px); opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}
[data-aos="fade-down"].aos-animate.keyword-fall-13 {
  transform: rotate(30deg) translateX(-22px) translateY(-50px) !important;
  opacity: 1 !important;
}
[data-aos="fade-down"].keyword-fall-14 {
  transform: translateY(-1000px); opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}
[data-aos="fade-down"].aos-animate.keyword-fall-14 {
  transform: rotate(-76deg) translateX(27px) translateY(-70px) !important;
  opacity: 1 !important;
}
[data-aos="fade-down"].keyword-fall-15 {
  transform: translateY(-1000px); opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}
[data-aos="fade-down"].aos-animate.keyword-fall-15 {
  transform: rotate(-26deg) translateX(-47px) translateY(-60px) !important;
  opacity: 1 !important;
}
[data-aos="fade-down"].keyword-fall-16 {
  transform: translateY(-1000px); opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}
[data-aos="fade-down"].aos-animate.keyword-fall-16 {
  transform: rotate(0deg) translateX(697px) translateY(-60px) !important;
  opacity: 1 !important;
}


/* Continue until keyword-fall-17 using their original transforms... */

[data-aos="fade-down"].keyword-fall-17 {
  transform: translateY(-1000px); opacity: 0;
  transition: transform 1s ease-out, opacity 1s ease-out;
}
[data-aos="fade-down"].aos-animate.keyword-fall-17 {
  transform: rotate(20deg) translateX(457px) translateY(-290px) !important;
  opacity: 1 !important;
}

[data-aos="fade-down"].keyword-fall {
  transform: translateY(-1000px);
  opacity: 0;
  transition-property: transform, opacity;
  transition-duration: 1s;
  transition-timing-function: ease-out;
}
